
.CourseWork {
    width: 100%;
    height: 80%;
}
.MajorSection, .GPASection{
    font-size: 1.5vh;
}

.GPASection {
    padding-bottom: 1%;
}

.CourseTables {
    height: 40%;
    width: 90%;
    display: inline-block;
    margin: 0 auto;
}
