.ContactMe{
    margin-top: 5%;
}

.ContactForm{
    padding-top: 0.5%;
    margin: 0 auto;
    width: 60%;
}

.ContactHeader h4 {
    text-shadow: none;
    font-size: 2.5vh;
    margin-bottom: 0.5%;
}

.ContactHeader {
    width: 90%;
    margin: 0 auto;
}

.ContactHeader p {
    font-size: 1.5vh;
}

.form-label {
    font-size: 1.5vh;
    font-family: "Roboto Slab", serif;
}

.ContactMeCarousel {
    margin-top: 1%;
    margin-bottom: 3%;
    width: 30%;
}

@media (max-width: 650px){
    .ContactMeCarousel {
        margin-top: 5%;
        margin-bottom: 3%;
        width: 90%;
        height: 50%;
    }

    .ContactForm {
        width: 90%;
    }
}

