#overview {
    margin-top: 4%;
}

#overview h4 {
    text-shadow: none;
    font-size: 2.5vh;
}

#overview p {
    font-size: 1.5vh;
    color: rgb(60,60,60)
}

#graphicsContainer {
    margin-bottom: 2%;
}

#academicContainer {
    width: 30%;
    margin-left: 1%;
}

#pksContainer {
    width: 30%;
    margin-left: 4%;
}