#overview {
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 5%;
}

#overview h4 {
    text-shadow: none;
    font-size: 2.5vh;
}

#overview p {
    font-size: 1.5vh;
    color: rgb(60,60,60)
}

#graphicsContainer {
    margin-bottom: 2%;
}

#academicContainer {
    width: 30%;
    margin-left: 1%;
}

#pksContainer {
    width: 30%;
    margin-right: 1%;
}

#homeCarousel {
    margin: 0 auto;
    margin-top: 2.5%;
}

@media (max-width: 1864px){
    #academicContainer{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 5%;
    }
    #pksContainer{
        width: 90%;
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    #homeCarousel {
        width: 90%;
        margin: 0 auto;
    }
}