#overview {
    margin-left: 5%;
    margin-right: 5%;
}

#overview h4 {
    text-shadow: none;
    font-size: 2.5vh;
    margin-bottom: 0.5%;
}

#overview p {
    font-size: 1.5vh;
    color: rgb(60,60,60)
}


#graphicsContainer {
    margin-top: 2%;
    margin-bottom: 2%;
}


#academicContainer {
    width: 30%;
    margin-left: 1%;
}

#pksContainer {
    width: 30%;
    margin-right: 1%;
}

#homeCarousel {
    margin: 0 auto;
    margin-top: 2.5%;
}

.Home {
    margin-top: 4%;
}

@media (max-width: 600px){
    #academicContainer, #pksContainer {
        margin: 0 auto;
        width: 90%;
        margin-top: 5%;
        margin-bottom: 3%;
    }
}


@media (min-width: 1864px) and (max-width: 2500px){
    #academicContainer{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 5%;
    }
    #pksContainer{
        width: 90%;
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    #homeCarousel {
        width: 90%;
        margin: 0 auto;
    }
}

@media (min-width: 2500px){
    #academicContainer, #pksContainer{
        width: 20%;
    }

    #homeCarousel {
        margin: 0 auto;
        margin-right: 17%;
    }
}