
@media (min-width: 500px){
    .SemesterCourses {
        width: 45%;
        float: left;
        margin: 0 auto;
        margin-left: 2.5%;
        margin-right: 2.5%;
        padding-bottom: 1%;
    }
}

.SemesterCourses caption{
    font-family: "Roboto Slab", serif;
    caption-side: top;
    font-size: 1.8vh;
    text-align: center;
    color: rgb(0,0,0)
}

.SemesterCourses th{
    font-size: 1.4vh;
    font-family: "Roboto Slab", serif;
}

.SemesterCourses td:nth-child(1), td:nth-last-child(1){
    font-weight: 500;
}

.SemesterCourses tr {
    padding-bottom: 5%;
}

.SemesterCourses td {
    font-size: 1.4vh;
    transition: 0.2s;
    padding-bottom: 5%;
}